# Configuration created by Apache Sling JCR Installer
queue.name="Brightcove\ Integration\ Job\ Queue"
queue.priority="MIN"
queue.maxparallel=D"4602678819172646912"
queue.topics=["brightcove/assets/*"]
queue.retries=I"5"
queue.preferRunOnCreationInstance=B"false"
queue.threadPoolSize=I"0"
queue.retrydelay=L"10000"
service.ranking=I"0"
queue.type="UNORDERED"
queue.keepJobs=B"false"

